<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="WinLabel.ERP.WebApi:DomainName" value="http://localhost:5748/"/>
    <add key="WinLabel.ERP.WebApi:IntranetUrl" value="http://localhost:5748/api"/>
    <!--<add key="WinLabel.ERP.WebApi:DomainName" value="http://127.0.0.1:8080/" />
    <add key="WinLabel.ERP.WebApi:IntranetUrl" value="http://127.0.0.1:8080/api" />-->
    <add key="WinLabel.ERP.WebApi:InternetUrl" value="http://127.0.0.1:8080/api"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.8.0.0" newVersion="4.8.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
